@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Montserrat', "sans serif";
    color: #373737;
    background-color: #FFFFFF;
}

.container {
    max-width: 1280px;
    margin:  0 auto;
}

.header-nav {
    text-align: center;
}

.header-nav-list-item {
    display: inline-block;
    margin: 31px 35px;
}

.header-nav-link {
    font: bold 18px/1 'Montserrat', "sans serif";
    color: #FF0000;
}

main {
    padding-bottom: 42px;
}


h2.main-title {
    text-align: center;
    text-transform: uppercase;
    margin: 48px auto 38px;
    font-size: 24px;
    letter-spacing: 3.3px;
}

p.main-content-text {
    text-align: center;
    margin: 0 67.5px;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 2.4px;
}

p.main-content-text:first-of-type {
    margin-bottom: 28px;
}

a.btn-primary {
    display: block;
    width: max-content;
    margin: 66px auto 0;
    background-color: #FF0000;
    font: bold 12px/1 'Montserrat', "sans serif";
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 18px 43px;
}

footer {
    margin: 40px 105px 29px;
    text-align: right;
}

p.footer-copyright {
    font: bold 16px/1.2 'Montserrat', "sans serif";
    letter-spacing: 2.4px;
}

